:host {
    background-color: #dddddd;
    box-shadow: 0px 0px 2px 2px #7e7e7e;
}

.link-container {
    margin: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.field-button {
    display: flex;
    align-items: center;
}