<div style="display: flex; flex-wrap: wrap;">
    <div style="padding: 8px">
        <app-commander [commander]="commander1"></app-commander>
    </div>
    <div style="padding: 8px">
        <app-commander [commander]="commander2"></app-commander>
    </div>
    <div style="padding: 8px">
        <app-commander [commander]="commander3"></app-commander>
    </div>
    <div style="padding: 8px">
        <app-commander [commander]="commander4"></app-commander>
    </div>
    <div style="padding: 8px">
        <app-commander [commander]="commander5"></app-commander>
    </div>
    <div style="padding: 8px">
        <app-commander [commander]="commander6"></app-commander>
    </div>
    <div style="padding: 8px">
        <app-commander [commander]="commander7"></app-commander>
    </div>
    <div style="padding: 8px">
        <app-commander [commander]="commander8"></app-commander>
    </div>
    <div style="padding: 8px">
        <app-commander [commander]="commander9"></app-commander>
    </div>
    <div style="padding: 8px">
        <app-commander [commander]="commander10"></app-commander>
    </div>
</div>