<div class="container">
    <h2>Terms of service</h2>
    <div>
        <!-- This TOS is only applicable for the use of virtual-wing.edct.dev - If you host your own instance, this doesn't apply! -->
        <ul>
            <li>Any flooding, spamming or similar is prohibited.</li>
            <li>Do not abuse the application in any other but the intended way.</li>
            <li>No harassment, insulting, discrimination or similar.</li>
            <li>We don't permit the usage of this service for notorious gankers. Host your own instance on your own
                money and resources!</li>
            <li>This is a private service. We can close your account for any reason without any justification.</li>
        </ul>
    </div>
    <br>
    <br>
    <h2>Data Protection</h2>
    <div>
        We aim to collect as little data as possible from you.<br>
        We reduce the data collected to what is absolutely necessary to provide the virtual wing service available to
        you.<br>
        We don't track you beyond what you directly share with this application (Elite Dangerous journal and user
        credentials).<br>
        We don't include any 3rd party trackers on our website.<br>
        We don't sell or share your data with anyone.<br>
        <br>
        Of course you have to take our word for it. To be safe, you can always host your own instance.
        <br><br>
        <h2>What is specifically collected?</h2><br>
        <ul>
            <li>Your <b>status.json</b> of your Elite Dangerous journal folder whenever you are sharing.</li>
            <li>Selected events of your <b>current Elite Dangerous journal</b> from your journal folder whenever you are
                sharing.</li>
        </ul>
        <p>When you use the login with username/password:</p>
        <ul>
            <li>Your username choosen.</li>
            <li>Your email address provided.</li>
            <lI>Your password in an encrypted form.</lI>
        </ul>
        <br>
        <p>When you use the Frontier Developments login:</p>
        <ul>
            <li>Your Frontier Customer ID.</li>
        </ul>
        <br>
        <p>Being an online service we also cannot avoid that your IP address is collected.</p>
    </div>
</div>