<div *ngIf="commander" class="cmdr">
    <div class="cmdr-basic-info">
        <div class="flex-baseline">
            <span class="cmdr-title">CMDR {{ commander.Name }}</span>
            &nbsp;
            <mat-icon style="font-size: 100%" [ngClass]="{'cmdr-live': true}" matTooltip="Online, in-game">circle
            </mat-icon>
        </div>
        <div class="flex-center">
            <span>{{ gameMode }}</span>,&nbsp;
            <span>{{ gameVersion }}</span>
        </div>
    </div>
    <div class="ship-data-row" style="height: 190px;">
        <div>
            <mat-icon class="ship-data-row-icon" [inline]="true">location_pin</mat-icon>
        </div>
        <div class="ship-data-row-value">
            <span *ngIf="commander.GameActivity == GameActivity.Hyperspace; else nonHyperspaceLocation">
                Hyperspace jump <span *ngIf="commander.Target?.StarSystem">to {{ commander.Target.StarSystem?.Name
                    }}</span>
            </span>
            <ng-template #nonHyperspaceLocation>
                <span *ngIf="commander.Location?.StarSystem" class="flex-center" matTooltip="System">
                    <img src="assets/images/StarSystem.svg" class="svg-icon"> {{ commander.Location.StarSystem?.Name }}
                </span>
                <span *ngIf="commander.Location?.SystemBody" class="flex-center" matTooltip="System Body">
                    <img src="assets/images/planet.svg" class="svg-icon"> {{ commander.Location.SystemBody?.Name }}
                    <span *ngIf="commander.GameActivity == GameActivity.InSrv" class="badge">In SRV</span>
                    <span *ngIf="commander.GameActivity == GameActivity.Landed" class="badge">Landed</span>
                    <span *ngIf="commander.GameActivity == GameActivity.OnFoot" class="badge">On foot</span>
                </span>
                <span *ngIf="commander.Location?.Station" class="flex-center" matTooltip="Station">
                    <ng-container [ngSwitch]="commander.Location.Station?.StationType">
                        <img *ngSwitchCase="StationType.Coriolis" src="assets/images/Coriolis_sm.svg" class="svg-icon">
                        <img *ngSwitchCase="StationType.Outpost" src="assets/images/Outpost.svg" class="svg-icon">
                        <img *ngSwitchCase="StationType.Orbis" src="assets/images/Orbis_sm.svg" class="svg-icon">
                        <img *ngSwitchCase="StationType.FleetCarrier" src="assets/images/FleetCarrier.svg"
                            class="svg-icon">
                        <img *ngSwitchCase="StationType.CraterOutpost" src="assets/images/surface_port.svg"
                            class="svg-icon">
                        <img *ngSwitchCase="StationType.Ocellus" src="assets/images/Ocellus_sm.svg" class="svg-icon">
                        <img *ngSwitchCase="StationType.CraterPort" src="assets/images/surface_port.svg"
                            class="svg-icon">
                        <img *ngSwitchCase="StationType.AsteroidBase" src="assets/images/Asteroid_Station_Icon.svg"
                            class="svg-icon">
                        <img *ngSwitchCase="StationType.Bernal" src="assets/images/Ocellus_sm.svg" class="svg-icon">
                        <img *ngSwitchCase="StationType.MegaShip" src="assets/images/Mega-Ship_Icon.svg"
                            class="svg-icon">
                        <img *ngSwitchCase="StationType.SurfaceStation" src="assets/images/surface_port.svg"
                            class="svg-icon">
                        <img *ngSwitchCase="StationType.OnFootSettlement" src="assets/images/settlement_pm.svg"
                            class="svg-icon">
                    </ng-container>
                    <span *ngIf="commander.Location.Station?.StationType != StationType.FleetCarrier">{{
                        commander.Location.Station?.Name }} </span>
                    <span *ngIf="commander.Location.Station?.StationType == StationType.FleetCarrier">{{
                        commander.Location.Station?.NameAddon }} [{{ commander.Location.Station?.Name }}]</span>
                    <span *ngIf="commander.GameActivity == GameActivity.Docked" class="badge">Docked</span>
                    <span *ngIf="commander.GameActivity == GameActivity.OnFoot" class="badge">On foot</span>
                </span>
                <span *ngIf="commander.Location?.Name" class="flex-center" matTooltip="Target location">
                    <img src="assets/images/Marker.svg" class="svg-icon"> {{ commander.Location.Name }}
                </span>
                <span *ngIf="showLatLong" class="flex-center" matTooltip="Planet position">
                    <img src="assets/images/LatLong.svg" class="svg-icon">
                    <span>
                        Lat.: {{ commander.Location.Latitude }}<br>
                        Lon.: {{ commander.Location.Longitude }}<br>
                        Alt.: {{ commander.Location.Altitude }}<br>
                    </span>
                </span>
            </ng-template>
        </div>
    </div>
    <div *ngIf="targetSystem" class="ship-data-row">
        <mat-icon class="ship-data-row-icon" [inline]="true">fullscreen_exit</mat-icon>
        <div class="ship-data-row-value">
            <div class="flex-center">
                <span matTooltip="FSD target">{{ targetSystem }}</span>
                <span *ngIf="fsdCharging" matTooltip="FSD charging">
                    <img src="assets/images/EDLoader1.svg" class="svg-icon">
                </span>
                <span *ngIf="fsdCooldown" matTooltip="FSD cooldown">
                    <mat-icon>ac_unit</mat-icon>
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="targetShip" class="ship-data-row" matTooltip="Target">
        <mat-icon class="ship-data-row-icon" [inline]="true">gps_fixed</mat-icon>
        <div class="ship-data-row-value">
            <div class="flex-center">
                {{ targetShip }}
            </div>
        </div>
    </div>
    <ng-container [ngSwitch]="commander.GameActivity">
        <div *ngSwitchCase="GameActivity.Dead" class="cmdr-status-picture">
            <img src="assets/images/dead.svg" class="img-large" matTooltip="Dead / Destroyed">
            <br>
            Dead / Destroyed
        </div>
        <ng-container *ngSwitchCase="GameActivity.None">
            <ng-container *ngTemplateOutlet="shipStatus"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="GameActivity.Supercruise">
            <ng-container *ngTemplateOutlet="shipStatus"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="GameActivity.Hyperspace">
            <ng-container *ngTemplateOutlet="shipStatus"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="GameActivity.Docked">
            <ng-container *ngTemplateOutlet="shipStatus"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="GameActivity.Landed">
            <ng-container *ngTemplateOutlet="shipStatus"></ng-container>
        </ng-container>
        <div *ngSwitchCase="GameActivity.InSrv" class="cmdr-status-picture">
            In Srv
        </div>
        <div *ngSwitchCase="GameActivity.OnFoot" class="cmdr-status-picture">
            On Foot
        </div>
        <div *ngSwitchDefault class="cmdr-status-picture">
        </div>
    </ng-container>
    <ng-template #shipStatus>
        <div *ngIf="commander.Ship" style="position: relative;" class="cmdr-status-picture">
            <div [ngClass]="{'shield-up': shieldsUp}" class="shield-circle shield-circle3">
                <div [ngClass]="{'shield-up': shieldsUp}" class="shield-circle shield-circle2">
                    <div [ngClass]="{'shield-up': shieldsUp}" class="shield-circle shield-circle1">
                        <img src="assets/images/ships/{{commander.Ship}}.png" class="img-large" />
                        <img *ngIf="!isBeingInterdicted" src="assets/images/health_100.svg"
                            style="position: absolute; top: 55px; width: 220px; height: 220px;" />
                        <img *ngIf="isBeingInterdicted" src="assets/images/Interdiction.svg"
                            style="position: absolute; width: 220px; height: 220px;" />
                    </div>
                </div>
            </div>
            <br>
            <span *ngIf="isBeingInterdicted">Interdiction in progress...</span>
        </div>
    </ng-template>
</div>