<div class="container">
    <h2>FAQ</h2>
    <div>
        <p><b>What is this application for?</b></p>
        <p>
            Elite Dangerous has an in-game wing limit of 4 players on the same game version and same game mode.<br>
            A virtual wing allows players to see a live status of more players which are not part of their in-game
            wing.<br>
            This targets squadrons and other groups which regularly exceed the 4 player limit but still want to
            participate in activities together.
        </p>
        <br>
        <hr>
        <br>
        <p><b>My or some of my wing members data is only transmitted with a delay.</b></p>
        <p>The Virtual Wing utilizes a real time technology which allows to transmit data to the server and other users
            immediately.<br>
            If the data transfer is notably delayed it is likely caused by the user who's data is transmitted with a delay.<br>
            One cause could be that the Virtual Wing application runs as a background tab in the browser, as most modern
            browser throttle scripts of websites in the background.<br>
            Make sure the Virtual Wing application runs in the currently active tab of the browser. You can also open
            the application in a separate browser window.
        </p>
        <br><br>
    </div>
</div>