<div class="container">
    <app-h2>Welcome</app-h2>
    <p>
        Welcome to the Elite Dangerous Virtual Team site.<br>
        <br>
        Get started by <a routerLink="team/create">creating a team</a> or if you already joined a team before, <a
            routerLink="team/list">open your joined teams</a>.<br>
        If one of your friends already created a team and they would like you to join, ask them for an invite link.<br>
    </p>

    <i class="small">
        <!-- https://forums.frontier.co.uk/threads/elite-dangerous-media-usage-rules.510879/ -->
        Virtual Team / Wing was created using assets and imagery from <a href="https://www.elitedangerous.com/">Elite
            Dangerous</a>, with the permission of Frontier Developments plc, for non-commercial purposes.
        It is not endorsed by nor reflects the views or opinions of Frontier Developments and no employee of Frontier
        Developments was involved in the making of it.
    </i>
</div>