# This is a sample config from virtual-wing.edct.dev

server {
    root /var/www/edvw;

    server_name virtual-wing.edct.dev;

    location /ws {
        proxy_pass http://localhost:5000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
        keepalive_timeout 120;
        proxy_read_timeout 86400;
    }

    location / {
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_pass http://localhost:5000;
    }

    listen 443 ssl;
    ssl_certificate ...;
    ssl_certificate_key ...;
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = virtual-wing.edct.dev) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    server_name virtual-wing.edct.dev;
    return 404; # managed by Certbot
}
