<div *ngIf="!journalWorkerService.isBrowserSupported">
    We are sorry, but your browser doesn't support the required functionality for this website.<br>
    Currently, mainly Chromium based browsers (such as Chromium, Google Chrome, Edge) support the required
    functions.
</div>
<div *ngIf="journalWorkerService.isBrowserSupported">
    <div *ngIf="!journalWorkerService.serverSettingsReceived; else journalWorkerBtn">
        Waiting to receive settings from server...
    </div>
    <ng-template #journalWorkerBtn>
        <div *ngIf="journalWorkerService.journalWorkerActive">
            Journal worker is active...
            <br>
            <app-commander [commander]="journalWorkerService.commander"></app-commander>
        </div>
        <div *ngIf="!journalWorkerService.journalWorkerActive">
            <button (click)="journalWorkerService.startJournalWorker()">Start
                journal worker</button>
        </div>
    </ng-template>
</div>