<div [ngClass]="{'darkMode': appService.darkMode}">
  <mat-toolbar class="edvw-header">
    <button mat-icon-button aria-label="Menu" (click)="toggleMenu()">
      <mat-icon [ngClass]="{'menu-open': isMenuOpen, 'menu-closed': !isMenuOpen}">menu</mat-icon>
    </button>
    <img src="assets/images/EliteDangerous.svg" style="width: 45px; height: 45px;" />
    <span routerLink="/" class="clickable">Elite Dangerous - Virtual Team / Wing</span>
    <div class="version-div"><span class="version">Beta</span></div>
    <span class="toolbar-spacer"></span>
    <div class="top-right-action">
      <mat-slide-toggle [(ngModel)]="appService.darkMode" (ngModelChange)="darkModeChanged($event)">
        <mat-icon>dark_mode</mat-icon>
      </mat-slide-toggle>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngFor="let menuItem of appService.menuItems" mat-menu-item (click)="menuItem.callback()">
          <mat-icon>{{ menuItem.icon }}</mat-icon>
          <span>{{ menuItem.text }}</span>
        </button>
        <button *ngIf="isLoggedIn" mat-menu-item routerLink="/logout">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
        <button *ngIf="!isLoggedIn" mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="container-content">
    <mat-sidenav #sidenav mode="side" class="edvw-sidenav" [opened]="isMenuOpen">
      <div *ngIf="isLoggedIn">
        <div><b>Teams</b></div>
        <div routerLink="team/list" class="clickable">My teams</div>
        <div routerLink="team/create" class="clickable">Create</div>
      </div>
      <div *ngIf="!isLoggedIn">
        <div routerLink="login" class="clickable">Login</div>
      </div>
      <hr>
      <div>
        <div routerLink="faq" class="clickable">FAQ</div>
      </div>
      <div>
        <div routerLink="about" class="clickable">About</div>
      </div>
      <div *ngIf="isLoggedIn">
        <hr>
        <app-journal-worker></app-journal-worker>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-container [ngSwitch]="websocketService.connectionStatus">
        <div *ngSwitchCase="ConnectionStatus.Connecting" class="content-large-box content-large-box-content ">
          <h3>Connecting to server...</h3>
        </div>
        <div *ngSwitchCase="ConnectionStatus.NoConnection" class="content-large-box content-large-box-content ">
          <h3>Error! Connection to server failed!</h3>
        </div>
        <ng-container *ngSwitchDefault>
          <router-outlet></router-outlet>
        </ng-container>
      </ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>