<h2>About</h2>

<h3>Code</h3>
<p>The application has been developed by CMDR Dark Session and is available under the MIT license on
    <a href="https://github.com/DarkSession/EDVirtualWing" target="_blank">Github</a>
</p>

<h3>Assets</h3>
<p>
    Assets on this websites include work from
</p>
<p>
    <a href="https://edassets.org" target="_blank" style="font-weight: bold">EDAssets.org</a>: Ships, icons
</p>
<p>
    <b>CMDR Arithon</b>&nbsp;<a href="https://www.elite-dangerous-blog.co.uk/post/2017/10/26/Vehicle-icons"
        target="_blank">elite-dangerous-blog.co.uk</a>: SRV
    image
</p>