<div class="container">
    <app-h2>About</app-h2>
    <app-h3>Code</app-h3>
    <p>The application has been developed by CMDR Dark Session and is available under the MIT license on
        <a href="https://github.com/DarkSession/EDVirtualWing" target="_blank">Github</a>.
    </p>
    <p>For any inquiries regarding the public hosted instance or the application code, feel free to contact me in
        Discord <b>_DS_#4008</b>.</p>
    <app-h3>Assets</app-h3>
    <p>
        Assets on this websites include work from
    </p>
    <p>
        <a href="https://edassets.org" target="_blank" style="font-weight: bold">EDAssets.org</a>: Ships, icons
    </p>
    <p>
        <b>CMDR Arithon</b>&nbsp;<a href="https://www.elite-dangerous-blog.co.uk/post/2017/10/26/Vehicle-icons"
            target="_blank">elite-dangerous-blog.co.uk</a>: SRV
        image
    </p>
    <p>
        <b>m-scha1337</b>: Wanted icon.
    </p>
    <i>
        <!-- https://forums.frontier.co.uk/threads/elite-dangerous-media-usage-rules.510879/ -->
        Virtual Wing was created using assets and imagery from <a href="https://www.elitedangerous.com/">Elite
            Dangerous</a>, with the permission of Frontier Developments plc, for non-commercial purposes.
        It is not endorsed by nor reflects the views or opinions of Frontier Developments and no employee of Frontier
        Developments was involved in the making of it.
    </i>
</div>